<div class="col-xs-12">
  <!--<h2>MES ARTICLES</h2>
<ul class="list-group">
  <app-post-list-item-component  *ngFor= "let post of posts"
                                  [postItemTitle]="post.title"
                                  [postItemContent]="post.content" ></app-post-list-item-component>
</ul>-->

  <h2>Mes appareils</h2>

  <p>Mis à jour : {{ lastUpdate | date: "short" }}</p>
  <ul class="list-group">
    <app-appareil
      *ngFor="let appareil of appareils; let i = index"
      [indexOfAppareil]="i"
      [appareilName]="appareil.name"
      [appareilStatus]="appareil.status"
      [id]="appareil.id"
    ></app-appareil>
  </ul>

  <button class="btn btn-success" (click)="onAllumer()">Tout Allumer</button>

  <button class="btn btn-danger" (click)="onEteindre()">Tout Eteindre</button>
</div>
